ETCD_NAME={{ inventory_hostname }}
ETCD_DATA_DIR=/var/lib/etcd-{{ inventory_hostname }}
ETCD_LISTEN_PEER_URLS="{{ etcd_advertise_peer_urls }}"
ETCD_LISTEN_CLIENT_URLS="{{ etcd_advertise_client_urls }}"

ETCD_ADVERTISE_CLIENT_URLS="{{ etcd_advertise_client_urls }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="{{ etcd_advertise_peer_urls }}"
ETCD_INITIAL_CLUSTER="{{ cluster_addr[:-1] }}"
ETCD_INITIAL_CLUSTER_STATE="{{ cluster_state }}"
ETCD_INITIAL_CLUSTER_TOKEN="{{ cluster_token }}"



#ETCD_PROXY="off"
#ETCD_CERT_FILE=""
#ETCD_KEY_FILE=""
#ETCD_CLIENT_CERT_AUTH="false"
#ETCD_TRUSTED_CA_FILE=""
#ETCD_PEER_CERT_FILE=""
#ETCD_PEER_KEY_FILE=""
#ETCD_PEER_CLIENT_CERT_AUTH="false"
#ETCD_PEER_TRUSTED_CA_FILE=""
#ETCD_DEBUG=true
#ETCD_LOG_PACKAGE_LEVELS=""